
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.css-gradient{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fae0df), color-stop(0, #fae0df), color-stop(0, #fae0df), color-stop(0, #fae0df), color-stop(0, #fae0df), color-stop(0.5, #faf2f2), color-stop(0.5, #faf2f2), color-stop(1, #fadfdf), color-stop(1, #fadfdf), color-stop(1, #fadfdf), color-stop(1, #fadfdf));
	background: -moz-linear-gradient(top, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #faf2f2 50%, #faf2f2 50%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%);
	background: -webkit-linear-gradient(top,  #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #faf2f2 50%, #faf2f2 50%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%);
	background: -o-linear-gradient(top,  #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #faf2f2 50%, #faf2f2 50%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%);
	background: -ms-linear-gradient(top,  #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #faf2f2 50%, #faf2f2 50%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%);
	background: linear-gradient(top,  #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #fae0df 0%, #faf2f2 50%, #faf2f2 50%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%, #fadfdf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae0df', endColorstr='#fadfdf', gradientType=0);
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: #f8f8f8;
  width: 70vw;
  height: 35vw;
  min-width: 520px;
  min-height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 50px #c46969;
}

.card-contents {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 55vw;
  min-width: 300px;
  min-height: 300px; 
}

.cat { 
  display: flex;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  min-width: 220px;
}

h1 {
  color: #c46969;
  font-size: 70px;
  font-family: Sora;
  font-weight: 400;
  margin-top: 2vh;
  margin-bottom: 1vh;
  text-shadow: 4px 4px 4px #afcfcd;
}

.cat-icon {
  min-height: 15px;
  margin: 1vh;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
  margin: 1vh;
}

input {
  background-color: #f7dfdf;
  height: 2vw;
  width: 30vw;
  min-width: 200px;
  min-height: 20px;
  border: none;
  border-radius: 5px;
  font-family: Ysabeau Infant;
  box-shadow: 1px 1px 10px #90d4d1;
}

input:hover {
  background-color: #ffeaea;
}

input:focus {
  outline: none;
  border: 1px solid #afcfcd;
  background-color: #fff3f3;
}

.username-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 15px;
 }

.login-info {
  color:#c46969;
  font-family: Ysabeau Infant;
}

.login-info:hover {
  color: #90d4d1;
 }

 .login-info:active {
  color: #da9797;
 }

 button {
  background-color: #3f7c79;
  color: #fff5f5;
  width: 150px;
  height: 40px;
  border: 2px solid #90d4d1;
  border-radius: 20px;
  box-shadow: 2px 3px 10px #6eafac;
 }

button:hover {
  background-color: #559e99;
}

button:focus {
  background-color: #90bdba;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 20vw;
  min-width: 150px;
  margin: 1vh;
}

.icon-size {
  width: 22px;
  height: 22px;
}

.icon-size:hover {
  opacity: 0.75;
}

.icon-size:active {
  opacity: 0.5;
}
