
.css-gradient{
	/*start ------------*/
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0, #f0ffff), color-stop(0, #f0ffff), color-stop(0, #f0ffff), color-stop(0, #f0ffff), color-stop(0, #f0ffff), color-stop(1, #e0c3c7), color-stop(1, #e0c3c7), color-stop(1, #e0c3c7), color-stop(1, #e0c3c7), color-stop(1, #e0c3c7), color-stop(1, #e0c3c7));
	background: -moz-linear-gradient(45deg, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%);
	background: -webkit-linear-gradient(45deg,  #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%);
	background: -o-linear-gradient(45deg,  #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%);
	background: -ms-linear-gradient(45deg,  #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%);
	background: linear-gradient(45deg,  #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #f0ffff 0%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%, #e0c3c7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ffff', endColorstr='#e0c3c7', gradientType=1);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.card {
  display: flex;
  justify-content: space-between;
  background-color: rgb(240, 255, 255);
  width: 65vw;
  height: 30vw;
  min-width: 400px;
  min-height: 300px;
  border-radius: 40px;
  border: 2px solid #90d4d1;
  box-shadow: 5px 5px 50px #0e2e2c;
}

.login-card {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  min-width: 300px;
  min-height: 300px; 
}

.cat { 
  display: flex;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  min-width: 100px;
}

h1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #5E0B15;
  font-size: 70px;
  font-family: Dancing Script;
  margin-top: 2vh;
  margin-bottom: 1vh;
  border-bottom: 2px solid #276965;
  padding-bottom: 7px;
}

.cat-icon {
  min-height: 40px;
}

.input-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 11vh;
}

input {
  background-color: #ecd0d3;
  width: 300px;
  height: 35px;
  min-height: 0px;
  border: 2px solid #276965;
  border-radius: 5px;
  font-family: Ysabeau Infant;
}

input:hover {
  background-color: #eedfe1;
}

.username-password {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3vw;
  min-height: 40px;
 }

.login-info {
  color:#81333d;
  font-family: Ysabeau Infant;
}

.login-info:hover {
  color: #90d4d1;
 }

 .login-info:active {
  color: #5E0B15;
 }

 button {
  background-color: #276965;
  color: white;
  width: 150px;
  height: 40px;
  border: 2px solid #90d4d1;
  border-radius: 20px;
  box-shadow: 2px 3px 10px #0e2e2c;
 }

button:hover {
  background-color: #559e99;
}

button:focus {
  background-color: #90bdba;
}
 

.cat-gif {
  display: flex;
  align-items: flex-start;
  width: 20vw;
  min-width: 400px;
  min-height: 300px;
 }
